<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Client</th>
        <th scope="col">NbJours</th>
        <th scope="col">Tjm HT</th>
        <th scope="col">Total HT</th>
        <th scope="col">Total TTC</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemNikki of collection">
        <td>{{ itemNikki.typePresta }}</td>
        <td>{{ itemNikki.client }}</td>
        <td>{{ itemNikki.nbJours }}</td>
        <td>{{ itemNikki.tjmHt }}</td>
        <td>{{ itemNikki.totalHt() }}</td>
        <td>{{ itemNikki.totalTtc() }}</td>
        <td>{{ itemNikki.state }}</td>
      </tr>
    </tbody>
  </table>
</div>
